body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #1e2a78, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.search-container {
    background: white;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    width: 500px;
    max-width: 90%;
}

.search-box {
    border: none;
    outline: none;
    padding: 20px 20px;
    border-radius: 50px;
    flex: 1;
    font-size: 16px;
}

.search-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition:background 0.3s ease;
}

.search-button:hover {
    background-color:blue;
}
